# Premier Leauge Scores  
**Goal: to obtain the team scores over a number of seasons**

In [1]:
#import packages
from bs4 import BeautifulSoup
import pandas as pd
import requests
import time
import urllib
import random
import re
import time

In [2]:
#this is our url of interest (2016/2017 season)
url = 'https://www.premierleague.com/tables?co=1&se=54&mw=-1&ha=-1'

#get the url information and store it in r
r = requests.get(url)

#get the html text from the website
data = r.text

#initiate a BeautifulSoup object with our html data
soup = BeautifulSoup(data, 'html.parser')

In [26]:
#this list will store our team names
team = []

#this list will store the score associated with each team
points = []

#loop through the first 20 entries (the scraper pulls information from First Team, PL2, U18)
for i in range(0,20):
    #this gives us the team name
    team.append(str(soup.find_all('span', class_ = 'long')[i].text))
    
    #this gives us the correspoding score
    points.append(int(soup.find_all('td', class_ = 'points')[i].text))

In [30]:
#print team name and score for a sanity check
for i,j in zip(team, points):
    print(i,j)

Chelsea 81
Tottenham Hotspur 77
Liverpool 69
Manchester City 66
Manchester United 65
Arsenal 60
Everton 58
West Bromwich Albion 44
Southampton 41
Bournemouth 41
Leicester City 40
Stoke City 40
Watford 40
Burnley 39
West Ham United 39
Crystal Palace 38
Hull City 34
Swansea City 32
Middlesbrough 28
Sunderland 21

In [34]:
pd.DataFrame({'Team': team, 'Score': points})

    Score                  Team
0      81               Chelsea
1      77     Tottenham Hotspur
2      69             Liverpool
3      66       Manchester City
4      65     Manchester United
5      60               Arsenal
6      58               Everton
7      44  West Bromwich Albion
8      41           Southampton
9      41           Bournemouth
10     40        Leicester City
11     40            Stoke City
12     40               Watford
13     39               Burnley
14     39       West Ham United
15     38        Crystal Palace
16     34             Hull City
17     32          Swansea City
18     28         Middlesbrough
19     21            Sunderland