# Team Attributes Separation  
**Goal: to divide the data according to year**

In [1]:
#import packages
import numpy as np
import pandas as pd

In [47]:
#import the data
data = pd.read_csv('Team_Attributes_processed_ordinal.csv', index_col = 0)

#preview it
data.head()

,index,id,team_fifa_api_id,team_api_id,buildUpPlaySpeed,buildUpPlayDribbling,buildUpPlayPassing,chanceCreationPassing,chanceCreationCrossing,chanceCreationShooting,...,chanceCreationCrossingClass,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressureClass,defenceTeamWidthClass,defenceAggressionClass_Press,defenceAggressionClass_Double,defenceAggressionClass_Contain,defenceDefenderLineClass_Cover,defenceDefenderLineClass_Offside Trap
0,0.0,1.0,434.0,9930.0,60.0,49.0,50.0,60.0,65.0,55.0,...,2,2,1,2,2,1,0,0,1,0
1,1.0,2.0,434.0,9930.0,52.0,48.0,56.0,54.0,63.0,64.0,...,2,2,1,2,2,1,0,0,1,0
2,2.0,3.0,434.0,9930.0,47.0,41.0,54.0,54.0,63.0,64.0,...,2,2,1,2,2,1,0,0,1,0
3,3.0,4.0,77.0,8485.0,70.0,49.0,70.0,70.0,70.0,70.0,...,3,3,1,2,3,0,1,0,1,0
4,4.0,5.0,77.0,8485.0,47.0,49.0,52.0,53.0,48.0,52.0,...,2,2,1,2,2,1,0,0,1,0

In [13]:
#look at the uniques dates within the data
data['date'].unique()

array(['2010-02-22 00:00:00', '2014-09-19 00:00:00', '2015-09-10 00:00:00',
       '2011-02-22 00:00:00', '2012-02-22 00:00:00', '2013-09-20 00:00:00'], dtype=object)

In [22]:
#now we're going to make the data associated with a single date it's own DataFrame

#get the unique date values
dates = data['date'].unique()

#create a list to store the new DataFrames
dataframes = []

#loop through each date and extract the date associated with each date
for i in dates:
    new_data = data.loc[data['date'] == i].copy()
    dataframes.append(new_data)

In [31]:
#now let's do a sanity check to make sure that we did what we wanted

#we'll print the unique dates in each of the new DataFrames (should be 1 unique data for each one)

for i in range(len(dataframes)):
    print('Unique dates in DataFrame {}: {}'.format(i, dataframes[i]['date'].unique()))

Unique dates in DataFrame 0: ['2010-02-22 00:00:00']
Unique dates in DataFrame 1: ['2014-09-19 00:00:00']
Unique dates in DataFrame 2: ['2015-09-10 00:00:00']
Unique dates in DataFrame 3: ['2011-02-22 00:00:00']
Unique dates in DataFrame 4: ['2012-02-22 00:00:00']
Unique dates in DataFrame 5: ['2013-09-20 00:00:00']

In [33]:
#we also want to make sure that we didn't lose any data
#we'll check to see that the sum of the length's of each of the new DataFrames is equal to the original

total = 0
for i in range(len(dataframes)):
    total += dataframes[i].shape[0]
    
    
print('There are a total of {} rows in the new DataFrames'.format(total))
print('There are {} rows in the original DataFrame'.format(data.shape[0]))

There are a total of 1458 rows in the new DataFrames
There are 1458 rows in the original DataFrame

In [51]:
#now we'll save each DataFrame into its own .csv file
for i in range(len(dataframes)):
    #get the data from the given DataFrame (YEAR-MONTH-DAY)
    date = dataframes[i]['date'].unique()[0][:10]
    
    #combine this information to get the file name
    name = 'Team_Attributes_' + date + '.csv'
    
    #now save the DataFrame to a .csv
    dataframes[i].to_csv(name)