In [1]:
#import packages
from bs4 import BeautifulSoup
import pandas as pd
import requests
import urllib
import random
import re
import time

In [2]:
#this is our url of interest (2016/2017 season)
# url = 'https://www.premierleague.com/tables?co=1&se=54&mw=-1&ha=-1'
urls = ['https://www.premierleague.com/tables?co=1&se=54&mw=-1&ha=-1',
'https://www.premierleague.com/tables?co=1&se=42&mw=-1&ha=-1',
'https://www.premierleague.com/tables?co=1&se=27&mw=-1&ha=-1',
'https://www.premierleague.com/tables?co=1&se=22&mw=-1&ha=-1',
'https://www.premierleague.com/tables?co=1&se=21&mw=-1&ha=-1',
'https://www.premierleague.com/tables?co=1&se=20&mw=-1&ha=-1']
teams = []
season = []
points = []
num_season = 1
for url in urls:
    #get the url information and store it in r
    r = requests.get(url)

    #get the html text from the website
    data = r.text

    #initiate a BeautifulSoup object with our html data
    soup = BeautifulSoup(data, 'html.parser')
    #loop through the first 20 entries (the scraper pulls information from First Team, PL2, U18)
    for i in range(0,20):
        #season number: most recent is 1
        season.append(num_season)
        #this gives us the team name
        teams.append(str(soup.find_all('span', class_ = 'long')[i].text))
        #this gives us the correspoding score
        points.append(int(soup.find_all('td', class_ = 'points')[i].text))
    num_season += 1

In [3]:
pd.DataFrame({'Team': teams, 'Score': points, 'Season': season})

     Score  Season                  Team
0       81       1               Chelsea
1       77       1     Tottenham Hotspur
2       69       1       Manchester City
3       69       1             Liverpool
4       65       1     Manchester United
5       60       1               Arsenal
6       58       1               Everton
7       45       1  West Bromwich Albion
8       43       1        Leicester City
9       42       1           Bournemouth
10      42       1       West Ham United
11      41       1           Southampton
12      41       1            Stoke City
13      40       1               Burnley
14      40       1               Watford
15      38       1        Crystal Palace
16      35       1          Swansea City
17      34       1             Hull City
18      28       1         Middlesbrough
19      24       1            Sunderland
20      81       2               Chelsea
21      77       2     Tottenham Hotspur
22      69       2       Manchester City
23      69       2             Liverpool
24      65       2     Manchester United
25      60       2               Arsenal
26      58       2               Everton
27      45       2  West Bromwich Albion
28      43       2        Leicester City
29      42       2           Bournemouth
..     ...     ...                   ...
90      42       5       West Ham United
91      41       5           Southampton
92      41       5            Stoke City
93      40       5               Burnley
94      40       5               Watford
95      38       5        Crystal Palace
96      35       5          Swansea City
97      34       5             Hull City
98      28       5         Middlesbrough
99      24       5            Sunderland
100     81       6               Chelsea
101     77       6     Tottenham Hotspur
102     69       6       Manchester City
103     69       6             Liverpool
104     65       6     Manchester United
105     60       6               Arsenal
106     58       6               Everton
107     45       6  West Bromwich Albion
108     43       6        Leicester City
109     42       6           Bournemouth
110     42       6       West Ham United
111     41       6           Southampton
112     41       6            Stoke City
113     40       6               Burnley
114     40       6               Watford
115     38       6        Crystal Palace
116     35       6          Swansea City
117     34       6             Hull City
118     28       6         Middlesbrough
119     24       6            Sunderland

[120 rows x 3 columns]